<div class="div-ordem">
  <div class="div-btn">
    <button id="btnSalvar" class="btn-salvar btn font-weight-bold"
            (click)="openModal()">Nova Ordem
    </button>
    <button id="btnRecarregar" class="btn-secundario btn font-weight-bold" (click)="findAllOrdens()">Atualizar</button>
  </div>
  <table mat-table [dataSource]="ordens" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="text-center font-18" width="15%">Código</th>
      <td mat-cell *matCellDef="let element" class="text-center">{{element.idOrdem}}</td>
    </ng-container>

    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef class="text-center font-18" width="40%">Descrição</th>
      <td mat-cell *matCellDef="let element" class="text-center">{{element.descricaoOrdem}}</td>
    </ng-container>

    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef class="text-center font-18" width="20%">Valor</th>
      <td mat-cell *matCellDef="let element" class="text-center">R$ {{element.valorOrdem}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="text-center font-18" width="20%">Status</th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <span class="circulo-status"
              [ngClass]="(element.status=='AGUARDANDO')?'aguardando-color':'processada-color'"></span>
        <span class="status-desc">{{element.status}}</span>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
