@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

input {
  border-radius: 4px;
  font-size: 14px !important;
  border: solid 1px rgba(192, 204, 218, 1);
  height: 36px;
  outline: none !important;
  box-shadow: none !important;
}

thead {
  background: #d8d8d82e !important;
}

tbody tr:hover {
  background: #fbfbfb !important;
}

.font-18 {
  font-size: 18px;
}

.text-center {
  text-align: center;
}

.btn-salvar {
  background-color: rgba(0, 214, 173, 1);
  border: solid 1px rgba(192, 204, 218, 1);
  color: white;
  width: auto;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
}

.btn-salvar:hover {
  background-color: rgb(0, 179, 134);
  border: solid 1px rgba(133, 149, 158, 1);
}

.btn-salvar:active {
  background-color: rgb(0, 132, 98);
  border: solid 1px rgba(192, 204, 218, 1);
  box-shadow: none;
}

.btn-salvar:focus {
  background-color: rgb(0, 132, 98);
  border: solid 1px rgba(192, 204, 218, 1);
  box-shadow: none;

}

.btn-secundario {
  background-color: rgba(245, 245, 245, 1);
  border: solid 1px rgba(192, 204, 218, 1);
  color: #3C4858;
  width: auto;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
}

.btn-secundario:hover {
  background-color: rgba(245, 245, 245, 1);
  border: solid 1px rgba(133, 149, 158, 1);
}

.btn-secundario:active {
  background-color: rgba(224, 230, 237, 1);
  border: solid 1px rgba(192, 204, 218, 1);
  box-shadow: none;
}

.btn-secundario:focus {
  background-color: rgba(245, 245, 245, 1);
  border: solid 1px rgba(192, 204, 218, 1);
  box-shadow: none;

}
